@import './agendar';

.footer {
  width: 100%;
  padding: 64px 0 50vw;
  background-color: #212121;
  position: relative;
  z-index: 1;
}

.footer-logo {
  width: 100%;
  margin-bottom: 32px;

  img {
    width: 100%;
  }
}

@media screen and (min-width: 650px) {
  .footer {
    padding: 128px 0 15vw;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .footer-logo {
    width: 30%;
  }
}

@import './dados';
@import './instagram';
@import './rodape';
