#wpcf7-f5-o1 {
  width: 100%;

  form {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;

    @extend %fadeUp;

    input,
    textarea {
      background-color: transparent;
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 32px;
      border: 1px solid #fff;
      border-radius: 16px;
      padding: 8px 16px;
      margin-bottom: 8px;
      color: #fff;

      &::placeholder {
        color: #fff;
      }

      &[type='submit'] {
        width: 120px;
        min-width: unset;
        max-width: unset;
        text-align: center;
        align-self: center;
        background-color: $gold;
        color: $black;
        border-color: $gold;
        margin: 16px 0 0;
        transition: 0.3s background-color, 0.5s color;
        transition-timing-function: ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          color: $gold;
        }
      }
    }
  }
}

@media screen and (min-width: 650px) {
  #wpcf7-f5-o1 form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    input,
    textarea {
      margin-bottom: 2%;

      &[type='submit'] {
        margin: 32px auto 0;
      }
    }

    input:not([name='nome']):not([type='submit']) {
      width: 49%;
      max-width: unset;
      min-width: unset;
    }
  }
}
